<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <libraryName>TestLibrary</libraryName>
    <baseOntologyURI>file:///Users/uni/Documents/SeMBa3/src/test/resources/testLib/library.ttl</baseOntologyURI>
    <itemClassURI>http://www.hci.uni-wuerzburg.de/ontologies/semba/semba-main.owl#MediaItem</itemClassURI>
	<defaultCollectionIcon>file:///Users/uni/Documents/SeMBa3/src/test/resources/testLib/default.jpg</defaultCollectionIcon>
    <ontName>definition.ttl</ontName>
	<itemName>#content</itemName>
    <thumbnailResolution>400</thumbnailResolution>
    <thumbnailIdentifier>thumbnail.jpeg</thumbnailIdentifier>
	<dataPath>file:///Users/uni/Documents/SeMBa3/src/test/resources/testLib/data/</dataPath>
    <libraryPath>ontology</libraryPath>
	<storageType>TDB</storageType>
	<temporaryFolder>temp/</temporaryFolder>
    <language>en</language>
</config> 