$ cat .gitignore
*~
._*
*.lock
*.swp
*.out
*.log
*.class
*.history
*.dat
*~.nib
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea_modules/*
.idea_modules/**/*
.idea_modules/
.idea/
.idea/*
/.idea/**/*
/.idea/workspace.xml
.idea/workspace.xml
/logs/**/*
logs/**/*
/project/target/**/*
project/target/**/*
project/project/target
project/project/target/*
project/project/target/**/*
/target/**/*
target/**/*
/_workingdir/
/lib_managed/**/*
/lib_managed/
/AppData/**/*
/AppData/
AppData/**/*
AppData/