<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <baseOntologyURI>file:///Users/uni/Desktop/library/library.ttl</baseOntologyURI>
    <itemClassURI>http://www.hci.uni-wuerzburg.de/ontologies/semba/semba-main.owl#MediaItem</itemClassURI>
    <sourceLocation>http://www.hci.uni-wuerzburg.de/ontologies/semba/semba-main.owl#sourceLocation</sourceLocation>
    <defaultCollectionIcon>file:///Users/uni/Desktop/library/default.jpg</defaultCollectionIcon>
    <ontName>definition.ttl</ontName>
    <itemName>#content</itemName>
    <thumbnailResolution>400</thumbnailResolution>
    <thumbnailIdentifier>thumbnail.jpeg</thumbnailIdentifier>
    <language>en</language>
    <dataPath>data</dataPath>
    <libraryPath>ontology</libraryPath>
</config>